
body{
    margin: 0px;
    padding: 0px;   
}
.OfficeReg{
    float:right;
    margin-right: 240px;
    
}
img{
 height: 700px;
 width: 600px;
}




/* code yako ya kitambo, haikuwa background image ata,

ilkuwa tu 

Yeah ndio nasema panga two divs, alafu the first one si itakuwa on
the left, and the right one itakuwa the form sindio?

Then iyo div ya left ipatie background image. umeelewa kweli?

Html text unamaanisha the form ama, yeah ivyo sasa

*/

/* <div class='mainContainer'>
/* <div class='leftSide'>

</div> */

/* <div class='formSide'>
    <h1>Login</h1>

</div> */
/* </div> */ 

/* si lazima tuziweke zikuwe kwa main container juu tunataka kuzi
panga in a row na flexbox ama?

Yeah, that's how it is. Issue kwa code yako ni iyo kuweka 
background image to a div, and not the entire body

Then the rest inakuwa easy juu ni everything we have done, like
margin, padding etc. Thats right sindio Babe? Goood girl

Try that approach then ndio ukikwama reach out, only hapo kwa background image ndio I will help sana
coz ni a new concept. Awesome!!!!*/

/* Ntabaki hapa, but on my things, you just speak ukinitaka . Good bitch!! Happy coding hahaha got you <3Love you, ayaa enda bitch *