
table,th,td{ 
       border: 4px solid;
       padding: 20px 15px;
       border: collapse 0;
   }
   table{
       width: 100%;
   }
   tr{ background-color: aqua;}
   tr{background-color: aliceblue;}
   th{
       padding-top: 12px;
       padding-bottom: 6px;
       text-align: left;
       background-color: aquamarine;
       color:black;
   }